<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body mt-0">
                <div class="container text-center">
                    <img src="" style="height: 100px; width: 100px" class="my_profile_picture" th:src="@{/image/home.png}"  alt="Home"/>
                </div>
                <div class="container text-center">
                    <img src="" style="height: 150px; width: 150px" class="" th:src="@{/image/TrustCare.jpg}"  alt="Home"/>
                </div>
                <div class="container text-center">
                    <span>
                        <h5><p>The place where your health matters most</p></h5>
                    </span>
                    <span>
                       <h5><p>!! Your health is our top priority. We're here to serve you !!</p></h5>
                    </span>
                </div>
                <hr />
                <h3 class="my-2">Donate Us</h3>
                <input id="payment-input" type="text" name="" class="form-control my-2" placeholder="Enter amount here!"/>
                <div class="container text-center">
                    <button class="btn btn-success btn-block bg-primary" onclick="paymentStart()">Pay</button>
                </div>
            </div>
        </div>
    </div>
    <!-- javascript for changing the sidebar menu link color when clicked writting funciton on common Id .item
    when document is ready then first remove active class  and then add the active class in the current page -->
    <script>
        $(document).ready(()=>{
            $(".item").removeClass("active");
            $("#home-link").addClass("active");
        });
    </script>
</section>

</body>
</html>