<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
</head>
<body>
<section>
    <div class="my-card mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form novalidate action="#" th:action="@{/do-login}" method="post">
                            <div class="mb-md-5 mt-md-4 pb-5 form-group">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <div th:if="${param.error}" class="alert alert-danger">
                                    Invalid Username or password
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success">
                                    Logged out successfully
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="typeEmailX">User</label>
                                    <input type="text" id="typeEmailX" class="form-control form-control-lg"
                                           name="username" placeholder="Enter username"/>

                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="typePasswordX">Password</label>
                                    <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                           name="password" placeholder="Enter Password"/>

                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/forgotPassword">Forgot password?</a>
                                </p>

                                <button class="btn bg-primary text-white" type="submit">Login</button>

                                <div class="form-group">
                                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                </div>
                            </div>

                            <div id="register-link" class="text-right">
                                <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign
                                    Up</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>